.App {
  text-align: center;
}

.searchinput {
  font-size: 20px;
  width: 80%;
  border: solid 4px black;
  padding: 16px 32px;
  margin: 16px 16px;
  border-radius: 6px;
}

.searchinput:hover {
  font-size: 20px;
  width: 80%;
  border: solid 4px #0066bb;
  padding: 16px 32px;
  margin: 16px 16px;
  border-radius: 6px;
}

.searchbutton {
  font-size: 20px;
  color: #0099cc;
  background: transparent;
  border: 4px solid #0099cc;
  border-radius: 6px;
  padding: 16px 32px;
  margin: 16px 16px;
  text-align: center;
  display: inline-block;
}

.searchbutton:hover {
  font-size: 20px;
  color: white;
  background: #0099cc;
  border: 2px solid #0099cc;
  border-radius: 6px;
  padding: 16px 32px;
  margin: 16px 16px;
  text-align: center;
  display: inline-block;
}

.location-icon {
  transform: scale(2.5,2.5);
  color:#0066bb;
}

.marker {
  transform: scale(2.5,2.5);
  color:#AA0000;
}

.marker-text {
  width: fit-content;
  font-size: 12px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
}

